*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* ყველაფერს გვერდიგვერდს სამს და შუაში და background-color ს ცვლის რომ იყოს თეთრი. */
body{
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: hsl(30, 38%, 92%);

}
/* დივში ყველაფერს გვერდი-გვერდ სვამს და თავის ამრგვალებს თავის თავს. */
.div{
    display: flex;
    background-color: hsl(0, 0%, 100%);
    border-radius: 10px;
    overflow: hidden;
    width: 700px;
}
/* ეს imgს სიგანე და სიმაღლე.  */
.img{
    width: 50%;
    height: auto;
}
/* ამ დივში მოცემული კოდი ტექსტს და ბათონს უკეთებს სწორ disflayს  და ასევე ზომებს*/
.div2{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    width: 50%;
}
button{
    background-color:  hsl(158, 42%, 18%);
    color: white;
    border:none;
    border-radius: 5px;
    padding:15px;
    cursor:pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:10px;
    margin-top: 20px;
    width: 100%;
}
.gray{
    color:  hsl(228, 12%, 48%);  
}
.green{
    color: hsl(158, 36%, 37%);
}