/*  3)შექმენით მშობელი div, რომელიც შეიცავს 3 შვილობილ div-ს. გამოიყენეთ flexbox-ის flex-wrap, რათა შვილები გადავიდნენ ახალ ხაზზე, თუ ისინი არ ეტევიან მშობელში.*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.div{
    
}