*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: hsl(30, 38%, 92%);
}

.div{
    display: flex;
    background-color: hsl(0, 0%, 100%);
    border-radius: 10px;
    overflow: hidden;
    width: 700px;
}
.img{
    width: 50%;
    height: auto;
}
.div2{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    width: 50%;
}
button{
    background-color:  hsl(158, 42%, 18%);
    color: white;
    border:none;
    border-radius: 5px;
    padding:15px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:10px;
    margin-top: 20px;
    width: 100%;
}
.d{
    color:  hsl(228, 12%, 48%);
    
}
p{
    color: hsl(228, 12%, 48%);
}
b{
    font-size: large;
}
.text-line-thogh{
    text-decoration: line-through;
}