*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    background-color: white;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.card{
    border-radius: 5px;
    background-color: wheat;
    text-align: center;
    padding: 15px  20px;
    box-shadow: rgba(240, 46, 170, 0.4) -5px 5px, rgba(240, 46, 170, 0.3) -10px 10px, rgba(240, 46, 170, 0.2) -15px 15px, rgba(240, 46, 170, 0.1) -20px 20px, rgba(240, 46, 170, 0.05) -25px 25px;
}
.flex{
    display: flex;
    gap: 20px;
    max-width:1200px

}