* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    background-color: black;
}

.box {
    background-color: red;
    height: 290px;
    width: 190px;
}

div {
    display: flex;
    justify-content: space-between;

}