
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
    background-color: aqua;
    height: 100vh;
}
.box{
    height: 300px;
    width: 300px;
}
.relative{
position: relative;
bottom: 35px;
right: 35px;
background-color: azure;
display: flex;
justify-content: center;
align-items: center;
}
.absolute{
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: black;
    color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
}
